## Library Imports

In [1]:
import pandas as pd
import numpy as np

## Import CSV

In [2]:
data = pd.read_csv('./GSAF5.csv', encoding = "ISO-8859-1")
data.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN

## Functions

In [3]:
def pshape(df):
    '''
        imprimeix el 'shape' del df passat i el de les dades originals
    '''
    sh1 = df.shape
    sh2 = data.shape
    print(f'df:{sh1} | data:{sh2}')
    
    
def printr(df,list_cols,num_rows=54):
    '''
        imprimeix alguns valors de les columnes passades per poder-les-hi comparar
    '''
    print ('LEN df = ',len(df))
    for index, row in df.iterrows():
        for col in list_cols:
            print (row[col])
        print('----------------')
        if index >= num_rows -1: break

## Some Info

In [4]:
print(data.shape)
print(data.info())

(5992, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB
None

In [5]:
stats = data.describe().T
stats

year = data['Year']
year[year==0].count()
#124 anys amb valor = 0

124

In [6]:
null_cols = data.isnull().sum()
null_cols[null_cols>0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

# Validating and arranging columns
## 1 - Nulls

In [7]:
nc = data[(data['Unnamed: 22'].isnull()==False)]
pshape(nc)
nc.head()

df:(1, 24) | data:(5992, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,...,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,2006.06.18,4746,stopped here,NaN

In [8]:
nc = data[(data['Unnamed: 23'].isnull()==False)]
pshape(nc)
nc.head()

df:(2, 24) | data:(5992, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,...,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1952.07.13,1811,NaN,Teramo
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,...,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,1879.03.10,408,NaN,change filename

In [9]:
nc = data[(data['Investigator or Source'].isnull()==True)]
pshape(nc)
nc.head()

df:(15, 24) | data:(5992, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
74,2016.04.07.b,07-Apr-16,2016,Unprovoked,USA,Florida,"Florida Keys, Monroe County",Fishing,Jonathan Lester,M,...,5' to 6' shark,NaN,2016.04.07.b-Lester.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.04.07.b,2016.04.07.b,5919,NaN,NaN
408,2013.08.31.b,31-Aug-13,2013,Unprovoked,BAHAMAS,NaN,Freetown Beach,Spearfishing,Bryan Collins,M,...,Blacktip shark,NaN,2013.08.31.b-Collins.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.08.31.b,2013.08.31.b,5585,NaN,NaN
907,2009.04.28,28-Apr-09,2009,Unprovoked,USA,Florida,"St. Augustine, St. John's County",NaN,Alicia,F,...,NaN,NaN,2009.04.28-Alicia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2009.04.28,2009.04.28,5086,NaN,NaN
1019,2008.06.28.a,28-Jun-08,2008,Unprovoked,SOUTH AFRICA,Western Cape Province,Mossel Bay,Surf skiing,Kobus Maritz,M,...,"White shark, 2m",NaN,2008.06.28.a-Maritz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.06.28.a,2008.06.28.a,4974,NaN,NaN
1900,1999.04.22,22-Apr-99,1999,Unprovoked,MAURITIUS,Grand Baie,Pointe aux Canonniers,Swimming,Sylvia Lanner,F,...,"Grey reef shark, 1.5 m",NaN,1999.04.22-Lanner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.04.22,1999.04.22,4093,NaN,NaN

### One Null is filled with href

In [10]:
data['href formula'] = [y if len(str(x)) <4 else x for x,y in zip(data['href formula'],data['href']) ]

## 2- Duplicates

In [11]:

columns_names = ['pdf','href formula','href']

yc = data[(data['href formula']==data['href'])]
nc = data[(data['href formula']!=data['href']) & (data['href'].isnull()==False)]
nc = nc.reset_index(drop=True)

# Print comparació dels df iguals i diferents
printr(yc,columns_names,2)
printr(nc,columns_names,2)

# es comprova que no queda cap NULL
naf = data[(data['href formula'].isnull())]
pshape(naf)

# es comprova que tots els pdf corresponen a 'href formula'

test = [x for x,y in zip(data['href formula'],data['pdf']) if y not in x  ]
print(test)

# per tant, s'inclouen les columnes 'pdf' i 'href' per eliminar, ja que són duplicats

LEN df =  5939
2016.09.18.c-NSB.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
----------------
2016.09.18.b-Luciano.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
----------------
LEN df =  50
2016.07.29-Spain.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf
----------------
2016.07.23.a-Cutbirth.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.a-Cutbirth.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23-Cutbirth.pdf
----------------
df:(0, 24) | data:(5992, 24)
[]

In [12]:
yc = data[(data['Case Number.1']==data['Case Number.2'])]
nc = data[(data['Case Number.1']!=data['Case Number.2'])]

na1 = data[(data['Case Number.1'].isnull()==True)]
na2 = data[(data['Case Number.2'].isnull()==True)]

pshape(yc)
pshape(nc)
pshape(na1)
pshape(na2)

df:(5981, 24) | data:(5992, 24)
df:(11, 24) | data:(5992, 24)
df:(0, 24) | data:(5992, 24)
df:(0, 24) | data:(5992, 24)

## 3- Drop Columns

In [13]:
# els números de cas 1 i 2 són alies identificatius, que ja tenim al 'Case Number', així que s'eliminaran

# també 'Year' és un duplicat de la data, es pot eliminar

# 'Date' està inclós a 'Case Number', es pot eliminar 

# 'original order' no aporta informació útil, s'elimina


drop_cols = ['Date','Year','pdf','href','Case Number.1','Case Number.2','Unnamed: 22','Unnamed: 23','original order']

data.drop(drop_cols, axis=1, inplace=True)

In [14]:
data.head(2)

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href formula
0,2016.09.18.c,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

# Rename and Index

In [15]:
# un index amb més sentit
data.set_index('Case Number',inplace=True)
# un títol de columna més explicatiu
data = data.rename(columns={'href formula':'href pdf'})

In [16]:
# Queda la informació aprofitable, endreçada per número de cas.

data.head()

,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href pdf
Case Number,,,,,,,,,,,,,,
2016.09.18.c,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2016.09.18.b,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2016.09.18.a,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2016.09.17,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2016.09.15,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

# Save CSV

In [17]:
data.to_csv('shark_attack.csv')